<manifest xmlns:android="http://schemas.android.com/apk/res/android"><!--
    android:sharedUserId="android.uid.system"> -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Android 11+ full storage access (for batch folder processing) -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!-- Android 13+ media permissions -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/hanlabv0"
        android:label="@string/activity_name_classification"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <!-- Launcher Activity - Main entry point -->
        <activity
            android:name="org.tensorflow.lite.examples.gaze_estimation.LauncherActivity"
            android:label="Gaze Estimation"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Camera Activity - Live gaze tracking (noHistory OK - no file picker) -->
        <activity
            android:name="org.tensorflow.lite.examples.gaze_estimation.ClassifierActivity"
            android:label="@string/activity_name_classification"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:exported="false">
        </activity>
        
        <!-- Image Processing Activity - Batch processing (needs to stay alive for folder picker) -->
        <activity
            android:name="org.tensorflow.lite.examples.gaze_estimation.ImageProcessingActivity"
            android:label="Batch Image Processing"
            android:screenOrientation="portrait"
            android:exported="false">
        </activity>
        
        <!-- Single Image Activity - Single image processing (needs to stay alive for image picker) -->
        <activity
            android:name="org.tensorflow.lite.examples.gaze_estimation.SingleImageActivity"
            android:label="Single Image Processing"
            android:screenOrientation="portrait"
            android:exported="false">
        </activity>
        
    </application>
</manifest>
